<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoadPlaylistOnStartup>false</LoadPlaylistOnStartup>
  <DisableAeroGlass>false</DisableAeroGlass>
  <LastWindowLocation>
    <X>606</X>
    <Y>930</Y>
  </LastWindowLocation>
  <ShowPlaylistEditorOnStartup>false</ShowPlaylistEditorOnStartup>
  <TextScrollingDelay>0.21</TextScrollingDelay>
  <EnableRecolor>false</EnableRecolor>
  <GuiColor>Black</GuiColor>
  <PlaybackDevice>00000000-0000-0000-0000-000000000000</PlaybackDevice>
</Settings>