<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoadPlaylistOnStartup>false</LoadPlaylistOnStartup>
  <DisableAeroGlass>false</DisableAeroGlass>
  <LastWindowLocation>
    <X>606</X>
    <Y>930</Y>
  </LastWindowLocation>
  <ShowPlaylistEditorOnStartup>false</ShowPlaylistEditorOnStartup>
  <HeaderFormat>{1} - {0}</HeaderFormat>
  <TextScrollingDelay>0.21</TextScrollingDelay>
  <EnableRecolor>false</EnableRecolor>
  <GuiColor>FF004080</GuiColor>
  <ProgressColor>7F1FC70F</ProgressColor>
  <BgColor>00FFFFFF</BgColor>
  <PlaybackDevice>00000000-0000-0000-0000-000000000000</PlaybackDevice>
  <SelectedSkin>Default Skin</SelectedSkin>
  <PlaylistEditorColumnsVisibility>
    <Item>
      <Key>
        <string>FileName</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Title</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Performers</string>
      </Key>
      <Value>
        <boolean>false</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>AlbumArtists</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Album</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>TrackNumber</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Genre</string>
      </Key>
      <Value>
        <boolean>false</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Year</string>
      </Key>
      <Value>
        <boolean>false</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Duration</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Codec</string>
      </Key>
      <Value>
        <boolean>false</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>Bitrate</string>
      </Key>
      <Value>
        <boolean>false</boolean>
      </Value>
    </Item>
  </PlaylistEditorColumnsVisibility>
</Settings>