<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)\Variables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="OronDF343" UpgradeCode="22187c5e-5fd6-4734-802e-236abd321433">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="$(var.ProductName)" />
    
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5.1 or later. Please install .NET Framework version 4.5.1 or higher and then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK45 >= "#378758")]]>
    </Condition>
    
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of $(var.GlobalProductName) is already installed." />

    <!-- Broken stuff
    <Property Id="APPLICATIONFOLDER" Secure="yes">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)" Key="Software\$(var.Company)\$(var.ProgID)" Name="InstallLocation" />
    </Property>
    <SetDirectory Id="APPLICATIONFOLDER" Value="$(var.PlatformProgramFilesFolder)$(var.GlobalProductName)">APPLICATIONFOLDER=""</SetDirectory>
    -->
    
		<MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.GlobalProductName)">
          <Directory Id="skins" Name="skins"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.GlobalProductName)"/>
      </Directory>
    </Directory>

    <Property Id="ApplicationFolderName" Value="$(var.GlobalProductName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.GlobalProductName)" />
    <Property Id="WixShellExecTarget" Value="[#$(var.SkyJukebox.TargetFileName)]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <Icon Id="tg32i.ico" SourceFile="$(var.SkyJukebox.ProjectDir)tg32i.ico" />
    <Property Id="ARPPRODUCTICON" Value="tg32i.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/OronDF343/Sky-Jukebox/" />

		<Feature Id="ProductFeature" Title="$(var.ProductName) Core Files" Level="1" Absent="disallow">
      <ComponentRef Id="CreateDirectories" />
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="RegistryStuff" />
		</Feature>
    <Feature Id="Mci" Title="Minecraft Integration Plugin (NYI)" Level="1" Absent="allow">
      <ComponentGroupRef Id="MciComponents" />
    </Feature>
    <Feature Id="StartMenuShortcuts" Title="Start Menu Shortcuts" Level="1" Absent="allow">
      <ComponentRef Id="StartMenuShortcutsComponent" />
    </Feature>
    <Feature Id="DesktopShortcuts" Title="Desktop Shortcuts" Level="1" Absent="allow">
      <ComponentRef Id="DesktopShortcutsComponent" />
    </Feature>
    <UI>
      <UIRef Id="WixUI_Advanced" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <!--Hacks for WixUI_Advanced install folder-->
    <CustomAction Id="OverwriteWixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[APPLICATIONFOLDER]" Execute="immediate" />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" />
    <InstallUISequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"/>
    </InstallExecuteSequence>
	</Product>

  <Fragment>
    <Component Id="CreateDirectories" Guid="C8C13432-B9E7-11E4-8167-61FA58BB2172" Directory="skins">
      <CreateFolder Directory="skins" />
    </Component>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="GPL3.0">
        <File Source="$(var.SolutionDir)GNU GENERAL PUBLIC LICENSE 3.0.html" />
      </Component>
      <Component Id="Licenses">
        <File Source="$(var.SolutionDir)LICENSE.txt" />
      </Component>
      <Component Id="Readme">
        <File Source="$(var.SolutionDir)README.md" />
      </Component>
      
			<Component Id="MainExe">
        <File Source="$(var.SkyJukebox.TargetPath)" />
			</Component>
      <!-- TODO: Determine if still needed -->
      <Component Id="MainExe_config">
        <File Source="$(var.SkyJukebox.TargetPath).config" />
      </Component>
      <Component Id="Dep_Xceed.Wpf.Toolkit">
        <File Source="$(var.SkyJukebox.TargetDir)Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Component Id="Dep_Octokit">
        <File Source="$(var.SkyJukebox.TargetDir)Octokit.dll" />
      </Component>
      
      <Component Id="CoreDll">
        <File Source="$(var.SkyJukebox.TargetDir)SkyJukebox.Core.dll" />
      </Component>
      <Component Id="Dep_taglib_sharp">
        <File Source="$(var.SkyJukebox.TargetDir)taglib-sharp.dll" />
      </Component>
      <Component Id="Dep_policy.2.0.taglib_sharp">
        <File Source="$(var.SkyJukebox.TargetDir)policy.2.0.taglib-sharp.dll" />
      </Component>
      <Component Id="Dep_config_policy.2.0.taglib_sharp">
        <File Source="$(var.SkyJukebox.TargetDir)policy.2.0.taglib-sharp.config" />
      </Component>
      
      <Component Id="ApiDll">
        <File Source="$(var.SkyJukebox.TargetDir)SkyJukebox.Api.dll" />
      </Component>
      
      <Component Id="LibDll">
        <File Source="$(var.SkyJukebox.TargetDir)SkyJukebox.Lib.dll" />
      </Component>
      <Component Id="Dep_DirectoryInfoEx">
        <File Source="$(var.SkyJukebox.TargetDir)DirectoryInfoEx.dll" />
      </Component>
      <Component Id="Dep_ExifLib">
        <File Source="$(var.SkyJukebox.TargetDir)ExifLib.dll" />
      </Component>
      
      <Component Id="NAudioPlayerDll">
        <File Source="$(var.SkyJukebox.TargetDir)SkyJukebox.NAudioFramework.dll" />
      </Component>
      <Component Id="Dep_NAudio">
        <File Source="$(var.SkyJukebox.TargetDir)NAudio.dll" />
      </Component>
      <Component Id="Dep_NAudio.Flac">
        <File Source="$(var.SkyJukebox.TargetDir)NAudio.Flac.dll" />
      </Component>
      <Component Id="Dep_NAudio.WindowsMediaFormat">
        <File Source="$(var.SkyJukebox.TargetDir)NAudio.WindowsMediaFormat.dll" />
      </Component>
      <Component Id="Dep_NVorbis">
        <File Source="$(var.SkyJukebox.TargetDir)NVorbis.dll" />
      </Component>
      <Component Id="Dep_NVorbis.NAudioSupport">
        <File Source="$(var.SkyJukebox.TargetDir)NVorbis.NAudioSupport.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="MciComponents" Directory="APPLICATIONFOLDER">
      <Component Id="MciDll">
        <File Source="$(var.SkyJukebox.TargetDir)SkyJukebox.MinecraftIntegration.dll" />
      </Component>
      <Component Id="MciImg">
        <File Source="$(var.SkyJukebox.TargetDir)mc.png" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="RegistryStuff" Directory="APPLICATIONFOLDER">
      <Component Id="Reg_InstallPath">
        <RegistryKey Root="HKLM" Key="Software">
          <RegistryKey Key="$(var.Company)\$(var.ProgID)">
            <RegistryValue Name="InstallLocation" Value='"[APPLICATIONFOLDER]"' Type="string" />
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="Reg_FileAssocBaseClass">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Classes">
          <!-- Version-specific file class registration that multiple extensions can reference. -->
          <RegistryKey Key="$(var.ProgID)">
            <RegistryValue Value="Audio File" Type="string"/>
            <RegistryKey Key="DefaultIcon">
              <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)",0' Type="string"/>
            </RegistryKey>
            <!-- Add verbs to the file class registration. -->
            <RegistryKey Key="shell">
              <RegistryKey Key="Open">
                <RegistryValue Value="Play" Type="string"/>
                <RegistryKey Key="command">
                  <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" "%1"' Type="string" KeyPath="yes"/>
                </RegistryKey>
              </RegistryKey>
              <RegistryKey Key="PlayWithSkyJukebox">
                <RegistryValue Value="Play with Sky Jukebox" Type="string"/>
                <RegistryKey Key="command">
                  <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" "%1"' Type="string"/>
                </RegistryKey>
              </RegistryKey>
              <RegistryKey Key="AddToSkyJukeboxPlaylist">
                <RegistryValue Value="Add to Sky Jukebox playlist" Type="string"/>
                <RegistryKey Key="command">
                  <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" "%1" --add' Type="string"/>
                </RegistryKey>
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="Reg_DirectoryContextMenu">
        <RegistryKey Root="HKCR" Key="Directory\shell">
          <RegistryKey Key="PlayWithSkyJukebox">
            <RegistryValue Value="Play with Sky Jukebox" Type="string"/>
            <RegistryKey Key="command">
              <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" "%1"' Type="string" KeyPath="yes"/>
            </RegistryKey>
          </RegistryKey>
          <RegistryKey Key="AddToSkyJukeboxPlaylist">
            <RegistryValue Value="Add to Sky Jukebox playlist" Type="string"/>
            <RegistryKey Key="command">
              <RegistryValue Value='"[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" "%1" --add' Type="string"/>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="Reg_FileAssocReg">
        <RegistryKey Root="HKLM" Key="SOFTWARE">
          <!-- Recommended file extension registration in Windows Vista and newer. -->
          <RegistryKey Key="Clients\Media\$(var.ProgID)\Capabilities">
            <RegistryValue Name="ApplicationName" Value="$(var.GlobalProductName)" Type="string" KeyPath="yes"/>
            <RegistryValue Name="ApplicationDescription" Value="Compact open-source music player." Type="string"/>
            <!-- List all file extensions that this product can handle. -->
            <RegistryKey Key="FileAssociations">
              <RegistryValue Name=".aac" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".aiff" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".ape" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".flac" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".m4a" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".mp3" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".mpc" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".ogg" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".wav" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".wma" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".m3u" Value="$(var.ProgID)" Type="string"/>
              <RegistryValue Name=".m3u8" Value="$(var.ProgID)" Type="string"/>
            </RegistryKey>
          </RegistryKey>
          <RegistryKey Key="RegisteredApplications">
            <!-- This registry value name is what you will reference in code to open the association dialog. -->
            <RegistryValue Name="$(var.ProgID)" Value="SOFTWARE\Clients\Media\$(var.ProgID)\Capabilities" Type="string"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <Component Id="StartMenuShortcutsComponent" Directory="ApplicationProgramsFolder" Guid="F627C87A-AF7C-11E4-B267-5B2716DD3259">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.GlobalProductName)" Description="$(var.GlobalProductName)" Target="[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" WorkingDirectory="APPLICATIONFOLDER"/>
      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\$(var.Company)\$(var.ProgID)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    <Component Id="DesktopShortcutsComponent" Directory="DesktopFolder" Guid="EC60C6A2-AF7C-11E4-9E75-5B2716DD3259">
      <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.GlobalProductName)" Description="$(var.GlobalProductName)" Target="[APPLICATIONFOLDER]$(var.SkyJukebox.TargetFileName)" WorkingDirectory="APPLICATIONFOLDER"/>
      <RegistryValue Root="HKCU" Key="Software\$(var.Company)\$(var.ProgID)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
